.payment {
  width: 350px;
  border-radius: 20px;
  background-color: white;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 700;
}

.btnBlock {
  text-align: center;
  background-color: black;
  border-radius: 20px;
  padding: 1.5rem;
}

button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
