.category {
    max-width: 80%;
    margin: auto;
    padding: 1rem;
    margin-bottom: 1rem;
}

.wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    color: rgba(131, 131, 131, 1);
    margin-bottom: 1rem;
}