.card {
    background-color: white;
    display: flex;
    width: 600px;
    padding: 1.1rem;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.quantityWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img {
    height: 120px;
    width: 100px;
}

.imgWrapper {
    margin-right: 1rem;
    padding: 10px;
}

.bin {
    cursor: pointer;
}

.sign {
    padding: 12px;
    background-color: rgba(255, 206, 127, 1);
    border: none;
    border-radius: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.price {
    color: rgba(170, 170, 170, 1);
}

.rightPart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
    width: 15%;
}